{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["src/tests/*.js", "src/tests/*.jsx"],
      "plugins": [
        "react-hooks"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react-hooks/exhaustive-deps": [
          "warn",
          {
            "additionalHooks": "(usePreparedEffect)"
          }
        ],
        "react/display-name": "off"
      }
    }
  ],
  "rules": {
    "curly": ["error", "all"],
    "camelcase": [
      "warn",
      {
        "properties": "never"
      }
    ],
    "no-use-before-define": [
      "warn",
      { "functions": false, "variables": false }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowTypedFunctionExpressions": true,
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-explicit-any": [
      "warn",
      {
        "fixToUnknown": true
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "warn",
      {
        "accessibility": "no-public"
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "warn",
      { "functions": false, "variables": false }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
